# Django
*.log
db.sqlite3
local_settings.py

# Media files - User-uploaded content
/media/

# Python
__pycache__/
*.pyc

# Virtual Environment
venv/
env/
.venv/

# IDEs / Editor-specific
.vscode/
.idea/
